.about {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12rem 8rem 0 8rem;
}

.about__img {
  width: 40%;
  /* height: 80vh; */
  padding: 0 2rem 0 0;
}

.about__img img {
  /* height: 60vh; */
  width: 100%;
  transform: scaleX(-1);
}

.about__text {
  width: 60%;
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 118.5%;
  letter-spacing: 0.05em;
  text-align: left;
  transform: translateY(-6rem);
  padding: 0 0 0 2rem;
}

@media (max-width: 767px) {
  .about {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about__text {
    width: 100%;
    transform: translateY(0);
    text-align: justify;
  }
  .abbout__img {
    width: 80%;
  }
}