.toggle-theme-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  height: 2rem;
  z-index: 3;
}

.toggle-theme-wrapper span {
  font-size: 2rem;
}

.toggle-theme-wrapper img {
  height: 2rem;
}

.toggle-theme {
  position: relative;
  display: inline-block;
  height: 2rem;
  width: 3.75rem;
}

.toggle-theme input {
  display: none;
}

.toggler {
  background-color: #121912;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.2s;
  height: 2rem;
}

.toggler:before {
  background-color: #9cc11c;
  bottom: 0.2rem;
  content: "";
  height: 1.6rem;
  left: 0.2rem;
  position: absolute;
  transition: 0.4s;
  width: 1.625rem;
}

input:checked + .toggler:before {
  transform: translateX(1.625rem);
}

input:checked + .toggler {
  background-color: #9cc11c;
}

input:checked + .toggler:before {
  background-color: #121912;
}

.toggler.round {
  border-radius: 2rem;
}

.toggler.round:before {
  border-radius: 50%;
}
