@import url("https://fonts.googleapis.com/css2?family=Jura:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

@font-face {
  font-family: "quantumregular";
  src: url("font/quantum-webfont.woff2") format("woff2"),
    url("font/quantum-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-gradient: linear-gradient(232.31deg, #9cc11c -2.84%, #ece705 56.41%);
  --font-color-main: #121912;

  font-family: "Jura", sans-serif;
  /* font-family: 'quantumregular'; */
  background: var(--bg-gradient);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
}

[data-theme="dark"] {
  --font-color-main: #F9EF00;
  --bg-gradient: linear-gradient(232.31deg, #182E11 -2.84%, #121912 56.41%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
